.big-container {
    background-color: #f6f6ef;
    width: 800px;
    margin: 50px auto;
    padding-bottom: 10px;
}

.navbar {
    border-radius: 5px;
    height: 40px;
}

.header {
    background-color: #ff6600;
}

.home-link {
    font-weight: bold;
}

.submit-form {
    text-align: center;
    width: 300px;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 10px;
}

.article-list {
    padding-top: 20px;
}

.btn {
    background-color: #cccccc;
}
.btn-primary {
    background-color: black;
    text-align: center;
    border: 1px solid black;
    margin: 25px;
    margin-left: 100px;
 }
 .btn-primary:hover {
    background-color: black;
    text-align: center;
    border: 1px solid black;
    margin: 25px;
    margin-left: 100px;
 }
ol li {
    font-size: 14px;
}

li a {
    color: black;
    text-decoration: none;
}

li a:hover {
    cursor: pointer;
    text-decoration: none;
}

.hostlink {
    color: grey;
}

.sign-up {

}

.log-in {

}

#log-in-form {
    margin: 2rem;
}

